.end-cursor::after {
    content: '|';
    color: #f4900c;
}

.end-cursor.blinking::after {
    content: '|';
    color: #f4900c;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    
}

.typewriter {
    font-size: 7rem;
    font-weight: 900;
    color: #f4900c;
    font-family: 'Poppins', sans-serif;
}