.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid #DFE1E5;
    box-shadow: #36373a;
    text-align: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
    flex: 0.3;
    justify-content: left;
}

.navbar .links {
    display: flex;
    align-items: center;
    flex: 0.4;
    justify-content: center;
}

.links * {
    margin: 0 50px;
    color: #36373a;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

.links *:hover {
    text-decoration: underline;
}

.navbar .user {
    display: flex;
    align-items: center;
    flex: 0.3;
    justify-content: right;
}

.user i {
    font-size: 36px;
    color: #36373a;
    
}

.user i:hover {
    cursor: pointer;
}

.logo .logo-text {
    font-family: 'Macondo', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #36373a;
    text-transform: uppercase;
}

