
.title .static-title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 500;
    color: #36373a;
    font-family: 'Roboto Slab', serif;
}

.title {
    margin-top: 200px;
}

