
  li:hover {
    color: red;
    cursor: pointer;
  }

  .container{

    overflow: hidden;
    position: relative;
  }
  .displayFiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .files:hover{
    cursor:pointer;
  }