
  input[type="text"],
  input[type="password"],
  button,
  textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }
  
  label,
  button {
    margin-top: 1rem;
  }
  
  button {
    padding: 0.5rem;
  }
  
  .instructions {
      font-size: 0.75rem;
      border-radius: 0.5rem;
      background: #000;
      color: #fff;
      padding: 0.25rem;
      position: relative;
      bottom: -10px;
  }
  
  .instructions > svg {
      margin-right: 0.25rem;
  }
  
  .offscreen {
      position: absolute;
      left: -9999px;
  }
  
  .hide {
      display: none;
  }
  
  .valid {
      color: limegreen;
      margin-left: 0.25rem;
  }
  
  .invalid {
      color: red;
      margin-left: 0.25rem;
  }
  
  .errmsg {
      background-color: lightpink;
      color: firebrick;
      font-weight: bold;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
  }
  
  .line {
      display: inline-block;
  }

  .persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}