
  .instructions {
      font-size: 0.75rem;
      border-radius: 0.5rem;
      background: #000;
      color: #fff;
      padding: 0.25rem;
      position: relative;
      bottom: -10px;
  }
  
  .instructions > svg {
      margin-right: 0.25rem;
  }
  
  .offscreen {
      position: absolute;
      left: -9999px;
  }
  
  .hide {
      display: none;
  }
  
  .valid {
      color: limegreen;
      margin-left: 0.25rem;
  }
  
  .invalid {
      color: red;
      margin-left: 0.25rem;
  }
  
  .errmsg {
      color: red;
      font-weight: bold;
  }
  
  .line {
      display: inline-block;
  }